

.tab-pane *.tab-label {
    -fx-rotate: 90;

}


.tab-pane {


    -fx-tab-min-height: 15em;
    -fx-tab-max-height: 15em;
        -fx-tab-min-width: 4em;
        -fx-tab-max-width: 4em;


    -fx-padding: 0 -1 -1 0


}



