.root{
    -fx-font-family: "Courier New";

}

#menuBox {
    -fx-background-color : #7e97c2;
    -fx-text-fill : #f2ab63;
}
#inside {
    -fx-background-color :  #e0e0eb;
}
#usernameBox {

    -fx-background-color : #cbdbef;
    -fx-text-fill : #7575a3;
    -fx-prompt-text-fill: #7575a3;
}
#passwordBox {
    -fx-background-color : #cbdbef;
    -fx-text-fill : #7575a3;
    -fx-prompt-text-fill: #7575a3;
}
#mailBox {
    -fx-background-color : #cbdbef;
        -fx-text-fill : #7575a3;
        -fx-prompt-text-fill: #7575a3;
}
#passwordBox1 {
    -fx-background-color : #cbdbef;
        -fx-text-fill : #7575a3;
        -fx-prompt-text-fill: #7575a3;
}
#passwordBox2 {
    -fx-background-color : #cbdbef;
        -fx-text-fill : #7575a3;
        -fx-prompt-text-fill: #7575a3;
}
.button
{
    -fx-background-color : #7e97c2;
    -fx-text-fill : #eefbf3;
}
.button:hover{
    -fx-background-color : #f2ab63;
}
.button:pressed {
    -fx-background-color :#eefbf3;
}

.list-cell {
    -fx-skin: "com.sun.javafx.scene.control.skin.ListCellSkin";
    -fx-background-color: -fx-control-inner-background;
    -fx-padding: 0.25em; /* 3 */
    -fx-text-fill: -fx-text-inner-color;
    -fx-opacity: 1;
}


.list-cell:filled:selected:focused, .list-cell:filled:selected, .list-view:horizontal .list-cell:filled:selected {
    -fx-background-color:  #e0e0eb;
    -fx-text-fill: -fx-selection-bar-text;
}

.list-view .scroll-bar:horizontal {
    -fx-opacity: 0;
    -fx-padding:-7;
}

.table-view .scroll-bar:horizontal {
    -fx-opacity: 0;
    -fx-padding:-7;
}

